@model Product

<div class="card">
    <h3 class="card__title">@Model.Name</h3>
    <p class="card__content">@Model.Description</p>
    <h4 class="card__footer">@Model.Price.ToString("c")</h4>
</div>